@charset "UTF-8";
/* 
 * width 기준
 * pc : 1200px / t : 768px / m : 320px
 */

/* 구글웹폰트 - Noto Sans KR */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

/***** style *****/
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

.content {
	min-height: 200px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.orangeBorder {
	border-bottom: 3px solid #ED7D31;
}

.bottomLine {
	padding: 10px 5px;
	color: #545454;
	border-bottom: 2px solid #545454;
	margin-bottom: 15px;
}

.zoneOrangeIcon {
	background: url("../images/point.png") no-repeat;
	background-size: 25px;
	background-position: 5px center;
	background-color: #ED7D31;
	padding: 5px 10px;
	padding-left: 35px;
	color: #fff;
	font-weight: 700;
	float: left;
	border-radius: 5px;
}

.w30 {
	width: 30px;
}

.w50 {
	width: 50px;
}

.w100 {
	width: 100px;
}

.w150 {
	width: 150px;
}

/***** text *****/
/* color */
.red {
	color: #BE1622;
}

.blue {
	color: #00a4de;
}

.orange {
	color: #ED7D31;
}

.Freepik, 
.Freepik a {
	font-size: 12px;
	font-weight: 300;
	color: #ddd;
}

/* weight */
.bold {
	font-weight: 700;
}
