@charset "UTF-8";

/* topMenu */
#topMenu {
	width: 1130px;
	margin: 10px auto;
}

.logoWrap {
	width: 400px;
	float: left;
}

.logoWrap img {
	width: 100%;
}

.rankWrap {
	float: left;
	margin-top: 10px;
}

#rankUl {
	display: none;
}

.topMenuWrap {
	float: right;
	margin-top: 34px;
}

.topMenuWrap ul li {
	float: left;
	margin-left: 15px;
}

.topMenuWrap ul li a {
	font-size: 14px;
}

/* mainManu */
#mainMenuWrap {
	background-color: #303A50;
}

.menuBox {
	width: 1130px;
	margin: 0 auto;
}

.mainMenu ul {
	width: 70%;
	float: left;
}

.mainMenu ul li {
	float: left;
	width: 25%;
	text-align: center;
	padding: 15px 0;
}

.mainMenu ul li a {
	color: #fff;
}

.mainSearchBtn {
	float: right;
	line-height: 52px;
}

.mainSearchBtn a {
	color: #fff;
	font-size: 20px;
}
