@charset "UTF-8";
/* 
 * width 기준
 * pc : 1200px / t : 768px / m : 320px
 */

/* 구글웹폰트 - Noto Sans KR */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

/* 임시 적용 */
.temp {
	background-color: #aaa;
}

/***** style *****/
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

table {
	border-collapse: collapse;
}

td, th {
	padding: 5px;
	border: 1px solid #aaa;
}

th {
	background-color: #F6F6F6;
}

.content {
	min-height: 200px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.subPageContent {
	float:left;
	width: 940px;
}

.subPageContent .contentArea {
	padding: 20px 0;
	padding-left: 20px;
}

.orangeBorder {
	border-bottom: 3px solid #ED7D31;
}

.bottomLine {
	padding: 10px 5px;
	color: #545454;
	border-bottom: 2px solid #545454;
	margin-bottom: 15px;
}

.bottomLine2 {
	border-bottom: 1px solid #545454;
	margin-bottom: 5px;
}

.zoneOrangeIcon {
	background: url("../images/point_w.png") no-repeat;
	background-size: 25px;
	background-position: 5px center;
	background-color: #ED7D31;
	padding: 5px 10px;
	padding-left: 35px;
	color: #fff;
	font-weight: 700;
	float: left;
	border-radius: 5px;
}

.zoneOrangeIconSmall {
	background: url("../images/point_w.png") no-repeat;
	background-size: 18px;
	background-position: 5px center;
	background-color: #ED7D31;
	padding: 3px 10px;
	padding-left: 27px;
	color: #fff;
	border-radius: 5px;
	display: inline-block;
}

.themeKeySmall {
	display: inline-block;
    padding: 3px 10px;
    background-color: #F46B45;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
}

.w30 {
	width: 30px;
}

.w50 {
	width: 50px;
}

.w100 {
	width: 100px;
}

.w150 {
	width: 150px;
}

.w10pc {
	width: 10%;
}

.w25pc {
	width: 25%;
}

.w60pc {
	width: 60%;
}

.left {
	float: left;
	width: 48%;
}

.right {
	float: right;
	width: 48%;
}

.navyBtn {
	background-color: #303A50;
	border: none;
	color: #fff;
	padding: 3px 10px;
	cursor: pointer;
}

.orangeBtn {
	background-color: #ED7D31;
	border: none;
	color: #fff;
	padding: 5px 10px;
	cursor: pointer;
}

.grayLineBtn {
	border: 2px solid #aaa;
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

/* 한줄 */
.classOne {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 여러줄 */
.classSec {
	overflow: hidden; 
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.mb30 {
	margin-bottom: 30px;
}

/***** text *****/
/* color */
.red {
	color: #BE1622;
}

.blue {
	color: #00a4de;
}

.orange {
	color: #ED7D31;
}

.grayB {
	color: #bbb;
}

/* background color */
.bgRed {
	background-color: red;
	color: #fff;
}

.bgPink {
	background-color: pink;
	color: #fff;
}

.bgOrange {
	background-color: #ED7D31;
	color: #fff;
}

.bgBlack {
	background-color: #000;
	color: #fff;
}


/* weight */
.bold {
	font-weight: 700;
}

/* size */
.fs16 {
	font-size: 16px;
}

/**** sub page content ****/
.subPageTitle {
	margin-bottom: 30px;
}

.subPageTitle .subTit {
	font-weight: 400;
	font-size: 16px;
}

/* sub board style */
.bestBoardBox {
	border: 1px solid #545454;
	padding: 10px;
	overflow: hidden;
}

.bestBoardBox .boardTitle {
	overflow: hidden;
}

.bestBoardBox .boardTitle p {
	font-size: 18px;
	font-weight: 700;
	padding: 10px;
}

.bestBoardBox .boardTitle p:first-child {
	float: left;
}

.bestBoardBox .boardTitle p:last-child {
	float: right;
}


.bestBoardBox table{
	float: left;
	width: 48.5%;
}

.bestBoardBox table td {
	padding: 5px;
	overflow: hidden;
}

.bestBoardBox table .no > p{
	width: 30px;
	text-align: center;
	color: #fff;
}

.bestBoardBox table .title {
	display: block;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80%;
}

.bestBoardBox table .review {
	display: block;
	float: left;
	margin-left: 10px;
}

/* 로고 아이콘 제작자 */
.Freepik, 
.Freepik a {
	font-size: 12px;
	font-weight: 300;
	color: #ddd;
}
