<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.AdminMapper">
	<resultMap type="AdminVO" id="adminResult">
		<id property="anoNo" column="ano_no"/>
		<result property="anoId" column="ano_id"/>
		<result property="anoPassword" column="ano_password"/>
		<result property="anoImage" column="ano_image"/>
		<result property="anoAuthorityNo.anoAuthorityNo" column="ano_authority_no"/>
	</resultMap>

	<select id="readAdmin" resultMap="adminResult">
		select * from admin where ano_id = #{anoId}
	</select>
</mapper>