<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardMapper">

  	<resultMap type="BoardKindsVO" id="boardKindsResult">
 		<id property="boardNo" column="board_no"/>
 		<id property="boardName" column="board_name"/> 		
 	</resultMap>
 	
	<resultMap type="KeywordcateVO" id="keywordcateResult">
 		<id property="keySortNo" column=""/>
 		<id property="keyName" column="key_name"/>
 		<association property="boardNo" column="board_no"/>			 			
	</resultMap>																						
	
	<!-- 추천카페 : 글등록 -->
	<insert id="recommendInsert" parameterType="BoardVO">
		insert into board (board_no2, user_no, zone_no, theme_no, writing_title, writing_content, address) values (#{boardNo2.boardNo}, #{userNo.userNo}, #{zoneNo.zoneNo}, #{themeNo.themeNo}, #{writingTitle}, #{writingContent}, #{address})
	</insert>
	
	<!-- 추천카페 : 리스트 -->
	<select id="recommendboardList" resultMap="recommendBoardResult">
		select b.board_no, b.writing_title, b.registration_date, b.update_date, b.view_number, b.vote_number, b.writing_content, b.address, z.zone_no, z.zone_name from board b
		left join zone z on b.zone_no = z.zone_no
		order by b.board_no desc
<!-- 		select * from board b
		left join boardkinds bk on b.board_no2 = bk.board_no
		left join users u on b.user_no = u.user_no 
		left join `zone` z on b.zone_no = z.zone_no
		left join theme t on b.theme_no = t.theme_no
		where b.board_no2 = 2
		order by b.board_no desc -->
	</select>
</mapper>