<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardMapper">
	<!-- 아름 -->
	
	 <!-- **********************************************************************      RESULTMAP     ***************************************************************************** -->
	 <!-- 추천카페:리스트 resultMap  JOIN테이블[board + zone + theme]-->				
     <resultMap type="BoardVO" id="recommendBoardList">
		<id property="boardNo" column="board_no"/>
		<result property="boardNo2.boardNo" column="board_no2"/>
		<result property="writingTitle" column="writing_title"/>
		<result property="viewNumber" column="view_number"/>
		<result property="zoneNo.zoneNo" column="zone_no"/>
		<result property="zoneNo.zoneName" column="zone_name"/>		
		<result property="themeNo.themeNo" column="theme_no"/>
		<result property="themeNo.themeName" column="theme_name"/>						
	</resultMap>
	 
	 <!-- 추천카페:상세보기 resultMap JOIN테이블[board + zone + theme + users + grade] -->
     <resultMap type="BoardVO" id="recommendBoardRead">
		<id property="boardNo" column="board_no"/>
		<result property="writingTitle" column="writing_title"/>
		<result property="registrationDate" column="registration_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="viewNumber" column="view_number"/>
		<result property="voteNumber" column="vote_number"/>
		<result property="writingContent" column="writing_content"/>
		<result property="address" column="address"/>
		<result property="zoneNo.zoneNo" column="zone_no"/>
		<result property="zoneNo.zoneName" column="zone_name"/>		
		<result property="themeNo.themeNo" column="theme_no"/>
		<result property="themeNo.themeName" column="theme_name"/>
		<result property="userNo.userNo" column="user_no"/>
		<result property="userNo.userId" column="user_id"/>
		<result property="userNo.password" column="password"/>
		<result property="userNo.nick" column="nick"/>
		<result property="userNo.userGrade.userGradeImage" column="user_grade_image"/>
	</resultMap>
	
	 <!-- **********************************************************************      QUERY     ***************************************************************************** -->	
	<!-- 추천카페 : 리스트 : 테스트용-->
	<select id="recommendboardList" resultMap="recommendBoardList">
		select b.board_no, b.board_no2, b.writing_title, b.view_number, z.zone_no, z.zone_name, t.theme_no, t.theme_name from board b
		left join zone z on b.zone_no = z.zone_no
		left join theme t on b.theme_no = t.theme_no
		where b.board_no2 = 2
		order by b.board_no desc
	</select>
	
	<!-- 추천카페 : 페이징된 리스트 -->
	<select id = "recommendboardListCriteria" resultMap="recommendBoardList">
		select b.board_no, b.board_no2, b.writing_title, b.view_number, z.zone_no, z.zone_name, t.theme_no, t.theme_name from board b
		left join zone z on b.zone_no = z.zone_no
		left join theme t on b.theme_no = t.theme_no
		where b.board_no2 = 2
		order by b.board_no desc limit #{pageStart}, 16 <!-- 카페추천 : 한페이지당 16개씩 보여줌 -->
	</select>
	
	<!-- 추천카페 : 글등록 -->
	<insert id="recommendInsert" parameterType="BoardVO">
		insert into board (board_no2, user_no, zone_no, theme_no, writing_title, writing_content, address) values (#{boardNo2.boardNo}, #{userNo.userNo}, #{zoneNo.zoneNo}, #{themeNo.themeNo}, #{writingTitle}, #{writingContent}, #{address})
	</insert>
	
	<!-- 추천카페 상세보기 -->
	<select id="recommendReadByNo" resultMap="recommendBoardRead">
		select b.board_no, b.writing_title, b.registration_date, b.update_date, b.view_number, b.vote_number, b.writing_content, b.address, z.zone_no, z.zone_name, t.theme_no, t.theme_name, u.user_no, u.user_id, u.password, u.nick, g.user_grade, g.user_grade_image, g.user_grade_name from board b
		left join zone z on b.zone_no = z.zone_no
		left join theme t on b.theme_no = t.theme_no
		left join users u on b.user_no = u.user_no 
		left join grade g on u.user_grade = g.user_grade 
		where b.board_no2 = 2 and b.board_no = #{boardNo}
	</select>
	
	 <!-- **********************************************************************   공통 QUERY     ***************************************************************************** -->	
		
	<!-- 공통 : 오늘 등록된 글 갯수 -->
	<select id="todayBoardCount" resultType="int">
		select count(*) from board where CAST(DATE_FORMAT(registration_date, '%Y%m%d') AS CHAR(8)) = CAST( DATE_FORMAT( NOW(),'%Y%m%d' ) AS CHAR(8)) and board_no2 = #{cBoardNo} <!-- 커뮤니티 게시판 번호 -->
	</select>
	<!-- 공통 : 각 서브게시물별 등록된 게시글 총 갯수(페이징시 이용) -->
	<select id="totalSearchCount" resultType="int">
		select count(board_no) from board where board_no2 = #{cBoardNo}
	</select>
	


<!-- 경진 : 탐방기 -->
<!-- **********************************************************************      RESULTMAP     ***************************************************************************** -->
	<!-- BoardResultMap JOIN테이블[boardKinds + keySortNo + users + grade + zone + theme + cafe ] -->
	<resultMap type="BoardVO" id="BoardResult">
		<id property="boardNo" column="board_no"/>
		<!-- 게시판 분류 -->
		<result property="boardNo2.boardNo" column="board_no2"/> 
		<!-- 키워드분류 -->
		<result property="keySortNo.keySortNo" column="key_sort_no"/>
		<result property="keySortNo.keyName" column="key_name"/>
		<!-- 회원 -->
		<result property="userNo.userNo" column="user_no"/>
		<result property="userNo.userId" column="user_id"/>
		<result property="userNo.password" column="password"/>
		<result property="userNo.nick" column="nick"/>
		<result property="userNo.userGrade.userGradeImage" column="user_grade_image"/>
		<!-- 지역 -->
		<result property="zoneNo.zoneNo" column="zone_no"/>
		<result property="zoneNo.zoneName" column="zone_name"/>		
		<!-- 테마 -->
		<result property="themeNo.themeNo" column="theme_no"/>
		<result property="themeNo.themeName" column="theme_name"/>
		<!-- 카페 -->
		<result property="cafeNo.cafeNo" column="cafe_no"/>		
		<result property="cafeNo.cafeName" column="cafe_name"/>
		<result property="cafeNo.zoneNo.zoneName" column="zone_name"/>
		<result property="cafeNo.themeNo.themeName" column="theme_name"/>
		
		<!-- 게시글 컬럼 -->
		<result property="writingLockCondition" column="writing_lock_condition"/>
		<result property="writingTitle" column="writing_title"/>
		<result property="registrationDate" column="registration_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="viewNumber" column="view_number"/>
		<result property="voteNumber" column="vote_number"/>
		<result property="writingContent" column="writing_content"/>
		<result property="address" column="address"/>
	</resultMap>	
	
	<!-- 탐방기 : 글등록 -->
	<insert id="cafeReviewInsert" parameterType="BoardVO">
		insert into board(board_no2 , user_no , cafe_no , writing_title , writing_content) 
			values (#{boardNo2.boardNo}, #{userNo.userNo}, #{cafeNo.cafeNo}, #{writingTitle}, #{writingContent});
	</insert>

</mapper>