<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CafeMapper">
	
	<resultMap type="CafeVO" id="CafeListSelectResult">
		<id property="cafeNo" column="cafe_no"/>
		<result property="cafeName" column="cafe_name"/>
		<result property="address" column="address"/>
		<result property="detailAddress" column="detail_address"/>
		<result property="tel" column="tel"/>
		<result property="opentime" column="opentime"/>
		<result property="closedDay" column="closed_day"/>
		<result property="sns" column="sns"/>
		<result property="tableNumber" column="table_number"/>
		<result property="socketNumber" column="socket_number"/>
		<result property="toiletCdt" column="toilet_cdt"/>
		<result property="mkdessertCdt" column="mkdessert_cdt"/>
		<result property="terrasCdt" column="terras_cdt"/>
		<result property="reservationCdt" column="reservation_cdt"/>
		<result property="wondooBuyCdt" column="wondoo_buy_cdt"/>
		<result property="bookCdt" column="book_cdt"/>
		<result property="beerCdt" column="beer_cdt"/>
		<result property="goodsCdt" column="goods_cdt"/>
		<result property="wifiCdt" column="wifi_cdt"/>
		<result property="puppyCdt" column="puppy_cdt"/>
		<result property="reserveokCdt" column="reserveok_cdt"/>
		<result property="parkingCdt" column="parking_cdt"/>
		<result property="nokidsCdt" column="nokids_cdt"/>
		<result property="registrationDate" column="registration_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="viewNumber" column="view_number"/>
		<result property="content" column="content"/>
		<result property="oneline" column="oneline"/>
		<result property="voteNumber" column="vote_number"/>
		<result property="powerlinkCdt" column="powerlink_cdt"/>
		<result property="cafeCdt" column="cafe_cdt"/>
		
		<association javaType="ThemeVO" property="themeNo">
			<id property="themeNo" column="theme_no"/>
			<result property="themeName" column="theme_name"/>
		</association>
		
		<association javaType="ZoneVO" property="zoneNo">
			<id property="zoneNo" column="zone_no"/>
			<result property="zoneName" column="zone_name"/>
		</association>
		
	</resultMap>
	
	<resultMap type="ImageVO" id="selectImgResult">
		<id property="imageNo" column="image_no"/>
		<result property="imageName" column="image_name"/>
		<result property="cafeNo.cafeNo" column="cafe_no"/>
		<result property="boardNo.boardNo" column="board_no"/>		
	</resultMap>
	
	<insert id="createCafe" parameterType="CafeVO">
		insert into cafe (cafe_name,
		                  theme_no, 
		                  zone_no, 
		                  user_no, 
		                  address, 
		                  detail_address, 
		                  tel, 
		                  opentime, 
		                  closed_day, 
		                  sns, 
		                  table_number, 
		                  socket_number, 
		                  toilet_cdt, 
		                  mkdessert_cdt, 
		                  terras_cdt, 
		                  reservation_cdt, 
		                  wondoo_buy_cdt, 
		                  book_cdt, 
		                  beer_cdt, 
		                  goods_cdt, 
		                  wifi_cdt, 
		                  puppy_cdt,
		                  reserveok_cdt, 
		                  parking_cdt, 
		                  nokids_cdt, 
		                  registration_date, 
		                  update_date, 
		                  view_number, 
		                  content, 
		                  oneline, 
		                  vote_number, 
		                  powerlink_cdt, 
		                  cafe_cdt)
		values (#{cafeName}, 
		        #{themeNo.themeNo}, 
		        #{zoneNo.zoneNo}, 
		        #{userNo.userNo}, 
		        #{address}, 
		        #{detailAddress}, 
		        #{tel}, 
		        #{opentime}, 
		        #{closedDay}, 
		        #{sns}, 
		        #{tableNumber},
		        #{socketNumber}, 
		        #{toiletCdt}, 
		        #{mkdessertCdt}, 
		        #{terrasCdt}, 
		        #{reservationCdt}, 
		        #{wondooBuyCdt}, 
		        #{bookCdt}, 
		        #{beerCdt}, 
		        #{goodsCdt},
		        #{wifiCdt}, 
		        #{puppyCdt}, 
		        #{reserveokCdt}, 
		        #{parkingCdt}, 
		        #{nokidsCdt}, 
		        #{registrationDate}, 
		        #{updateDate}, 
		        #{viewNumber}, 
		        #{content},
		        #{oneline}, 
		        #{voteNumber}, 
		        #{powerlinkCdt}, 
		        #{cafeCdt})
	</insert>
	
	<select id="readCafe" resultType="CafeVO">
		select * from cafe
		where cafe_no = #{cafeNo}
	</select>
	
	<select id="list" resultType="CafeVO">
		select * from cafe
	</select>
	
	<update id="updateCafe" parameterType="CafeVO">
		update cafe set cafe_name=#{cafeName}, 
		                theme_no=#{themeNo.themeNo}, 
		                zone_no=#{zoneNo.zoneNo}, 
		                user_no=#{userNo.userNo}, 
		                address=#{address}, 
		                detail_address=#{detailAddress}, 
		                tel=#{tel}, 
		                opentime=#{opentime}, 
		                closed_day=#{closedDay}, 
		                sns=#{sns}, 
		                table_number=#{tableNumber}, 
		                socket_number=#{socketNumber}, 
		                toilet_cdt=#{toiletCdt},
		                mkdessert_cdt=#{mkdessertCdt}, 
		                terras_cdt=#{terrasCdt}, 
		                reservation_cdt=#{reservationCdt}, 
		                wondoo_buy_cdt=#{wondooBuyCdt}, 
		                book_cdt=#{bookCdt},
		                beer_cdt=#{beerCdt}, 
		                goods_cdt=#{goodsCdt}, 
		                wifi_cdt=#{wifiCdt}, 
		                puppy_cdt=#{puppyCdt}, 
		                reserveok_cdt=#{reserveokCdt}, 
		                parking_cdt=#{parkingCdt},
		                nokids_cdt=#{nokidsCdt}, 
		                registration_date=#{registrationDate}, 
		                update_date=#{updateDate}, 
		                view_number=#{viewNumber}, 
		                content=#{content},
		                oneline=#{oneline}, 
		                vote_number=#{voteNumber}, 
		                powerlink_cdt=#{powerlinkCdt}, 
		                cafe_cdt=#{cafeCdt} 
		where cafe_no=#{cafeNo}
	</update>
	
	<select id="sumnailImg" resultMap="selectImgResult">
		select i.cafe_no, i.image_name from image i left join cafe c on c.cafe_no = i.cafe_no where c.cafe_no =#{cafeNo} limit 1;
	</select>
	
	<delete id="deleteCafe" parameterType="CafeVO">
		delete from cafe where cafe_no=#{cafeNo}
	</delete>
	
	<!-- 페이징 처리 sql문 -->
	<select id="listPage" resultType="CafeVO">
		select * from cafe order by cafe_no desc limit #{page}, 10
	</select>
	
	<select id="listCriteria" resultMap="CafeListSelectResult">
		select c.cafe_no, c.cafe_name, z.zone_name, t.theme_name, t.theme_no, c.registration_date, c.vote_number, c.view_number, c.oneline, c.address, c.detail_address from cafe c left join theme t on c.theme_no = t.theme_no 
		left join `zone` z on c.zone_no = z.zone_no order by cafe_no asc limit #{pageStart}, #{perPageNum}
		<!-- select * from cafe order by cafe_no desc limit #{pageStart}, #{perPageNum} -->
	</select>
	
	<select id="totalCount" resultType="int">
		select count(cafe_no) from cafe
	</select>
	
<!-- 키워드 이용 검색시 페이징 처리 매퍼 	
	<sql id="search">
		<if test="searchType=='t'.toString()">
			where title like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='c'.toString()">
			where content like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='w'.toString()">
			where writer like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='tc'.toString()">
				where title like CONCAT('%','${keyword}','%') OR content like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='cw'.toString()">
			where content like CONCAT('%','${keyword}','%') OR writer like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='tcw'.toString()">
			where title like CONCAT('%','${keyword}','%') OR content like CONCAT('%','${keyword}','%') OR writer like CONCAT('%','${keyword}','%')
		</if>
	</sql>
	
	<select id="listSearchCriteria" resultType="BoardVO">
		select * from tbl_board
			<include refid="search"></include>
			order by bno desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalSearchCount" resultType="int">
		select count(bno) from tbl_board
			<include refid="search"></include>
	</select> -->
	
	<select id="searchCafeByName" resultType="CafeVO">
		select * from cafe where cafe_name like CONCAT('%', #{cafeName}, '%');
	</select>
</mapper>