<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CafeMapper">
<!-- 	<resultMap type="CafeVO" id="CafeResult">
		<id property="cafeNo" column="cafe_no"/>
		<result property="themeNo.themeNo" column="theme_no"/>
		<result property="themeNo.themeName" column="theme_name"/>
	</resultMap> -->
	<insert id="createCafe" parameterType="CafeVO">
		insert into cafe (cafe_name,
		                  theme_no, 
		                  zone_no, 
		                  user_no, 
		                  address, 
		                  detail_address, 
		                  tel, 
		                  opentime, 
		                  closed_day, 
		                  sns, 
		                  table_number, 
		                  socket_number, 
		                  toilet_cdt, 
		                  mkdessert_cdt, 
		                  terras_cdt, 
		                  reservation_cdt, 
		                  wondoo_buy_cdt, 
		                  book_cdt, 
		                  beer_cdt, 
		                  goods_cdt, 
		                  wifi_cdt, 
		                  puppy_cdt,
		                  reserveok_cdt, 
		                  parking_cdt, 
		                  nokids_cdt, 
		                  registration_date, 
		                  update_date, 
		                  view_number, 
		                  content, 
		                  oneline, 
		                  vote_number, 
		                  powerlink_cdt, 
		                  cafe_cdt)
		values (#{cafeName}, 
		        #{themeNo.themeNo}, 
		        #{zoneNo.zoneNo}, 
		        #{userNo.userNo}, 
		        #{address}, 
		        #{detailAddress}, 
		        #{tel}, 
		        #{opentime}, 
		        #{closedDay}, 
		        #{sns}, 
		        #{tableNumber},
		        #{socketNumber}, 
		        #{toiletCdt}, 
		        #{mkdessertCdt}, 
		        #{terrasCdt}, 
		        #{reservationCdt}, 
		        #{wondooBuyCdt}, 
		        #{bookCdt}, 
		        #{beerCdt}, 
		        #{goodsCdt},
		        #{wifiCdt}, 
		        #{puppyCdt}, 
		        #{reserveokCdt}, 
		        #{parkingCdt}, 
		        #{nokidsCdt}, 
		        #{registrationDate}, 
		        #{updateDate}, 
		        #{viewNumber}, 
		        #{content},
		        #{oneline}, 
		        #{voteNumber}, 
		        #{powerlinkCdt}, 
		        #{cafeCdt})
	</insert>
	
	<select id="readCafe" resultType="CafeVO">
		select * from cafe
		where cafe_no = #{cafeNo}
	</select>
	
	<select id="list" resultType="CafeVO">
		select * from cafe
	</select>
	
	<update id="updateCafe" parameterType="CafeVO">
		update cafe set cafe_name=#{cafeName}, 
		                theme_no=#{themeNo.themeNo}, 
		                zone_no=#{zoneNo.zoneNo}, 
		                user_no=#{userNo.userNo}, 
		                address=#{address}, 
		                detail_address=#{detailAddress}, 
		                tel=#{tel}, 
		                opentime=#{opentime}, 
		                closed_day=#{closedDay}, 
		                sns=#{sns}, 
		                table_number=#{tableNumber}, 
		                socket_number=#{socketNumber}, 
		                toilet_cdt=#{toiletCdt},
		                mkdessert_cdt=#{mkdessertCdt}, 
		                terras_cdt=#{terrasCdt}, 
		                reservation_cdt=#{reservationCdt}, 
		                wondoo_buy_cdt=#{wondooBuyCdt}, 
		                book_cdt=#{bookCdt},
		                beer_cdt=#{beerCdt}, 
		                goods_cdt=#{goodsCdt}, 
		                wifi_cdt=#{wifiCdt}, 
		                puppy_cdt=#{puppyCdt}, 
		                reserveok_cdt=#{reserveokCdt}, 
		                parking_cdt=#{parkingCdt},
		                nokids_cdt=#{nokidsCdt}, 
		                registration_date=#{registrationDate}, 
		                update_date=#{updateDate}, 
		                view_number=#{viewNumber}, 
		                content=#{content},
		                oneline=#{oneline}, 
		                vote_number=#{voteNumber}, 
		                powerlink_cdt=#{powerlinkCdt}, 
		                cafe_cdt=#{cafeCdt} 
		where cafe_no=#{cafeNo}
	</update>
	
	<delete id="deleteCafe" parameterType="CafeVO">
		delete from cafe where cafe_no=#{cafeNo}
	</delete>
	
	<!-- 페이징 처리 sql문 -->
	<select id="listPage" resultType="CafeVO">
		select * from cafe order by cafe_no desc limit #{page}, 10
	</select>
	
	<select id="listCriteria" resultType="CafeVO">
		<!-- select t.theme_no, t.theme_name from cafe c left join theme t on c.theme_no = t.theme_no 
		left join `zone` z on c.zone_no = z.zone_no 
		left join users u on c.user_no = u.user_no order by cafe_no desc limit #{pageStart}, #{perPageNum} -->
		select * from cafe order by cafe_no desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalCount" resultType="int">
		select count(cafe_no) from cafe
	</select>
	
<!-- 키워드 이용 검색시 페이징 처리 매퍼 	
	<sql id="search">
		<if test="searchType=='t'.toString()">
			where title like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='c'.toString()">
			where content like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='w'.toString()">
			where writer like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='tc'.toString()">
				where title like CONCAT('%','${keyword}','%') OR content like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='cw'.toString()">
			where content like CONCAT('%','${keyword}','%') OR writer like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='tcw'.toString()">
			where title like CONCAT('%','${keyword}','%') OR content like CONCAT('%','${keyword}','%') OR writer like CONCAT('%','${keyword}','%')
		</if>
	</sql>
	
	<select id="listSearchCriteria" resultType="BoardVO">
		select * from tbl_board
			<include refid="search"></include>
			order by bno desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalSearchCount" resultType="int">
		select count(bno) from tbl_board
			<include refid="search"></include>
	</select> -->
	
	<select id="searchCafeByName" resultType="CafeVO">
		select * from cafe where cafe_name #{cafeName};
	</select>
</mapper>